.contactUs {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.contactUsHeader {
    align-self: center;
    font-size: 32px;
    font-weight: 800;
}

.contactUsForm {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-self: center;
}

.contactUsForm > input {
    height: 40px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1300px)  {
    .contactUsHeader {
        font-size: 22px;

    }
    
    .contactUsForm {
        width: 70vw;
    }
}