.aboutSectionHomePageContainer {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 100px;
}

.aboutSectionHomePageReadMoreCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 0.60;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 5vw;
    padding-left: 5vw;
    height: fit-content;
    z-index: 99;
    margin-top: 5%;
    box-shadow: 0 22px 80px rgba(0, 0, 0, 0.22);
}

.aboutSectionHomePageReadMoreBgImage {
    flex: 0.40;
    z-index: 98;
    margin-left: -30px;
}

.aboutSectionHomePageReadMoreBgImage > img {
    height: fit-content;
    width: 36vw;
}

.aboutSectionHomePageReadMoreCard > h2 {
    margin-bottom: 15px;
    font-weight: 800;
}

.aboutSectionHomePageReadMoreCard > h4 {
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
    .aboutSectionHomePageContainer {
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
        margin-top: 10px;
    }

    .aboutSectionHomePageReadMoreCard > h2{
        font-size: 20px !important;
    }

    .aboutSectionHomePageReadMoreCard > h4{
        font-size: 16px !important;
    }

    .aboutSectionHomePageReadMoreBgImage {
        display: flex;
        align-self: center;
        margin-left: 0px;
    }

    .aboutSectionHomePageReadMoreBgImage > img{
        width: 70vw;
    }
}