.listingsContainer {
    padding: 50px 200px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;

}

.listings__component {
    display: flex ;
    /* flex-direction: column !important; */
}

.listingsHeading {
    font-size: 32px;
    text-align: center;
    letter-spacing: 3px;
}

.listingsHeadingSub {
    font-size: 14px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 15px;
}


