.aboutSectionHomePageContainer {
    height: 900px; 
    padding: 100px 200px 100px 0px;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: violet; */
}

.aboutSectionHomePageReadMoreCard {
    width: 60vw;
    padding: 50px 100px;
    color: black;
    box-shadow: -3px -3px 10px 1px rgb(145, 144, 144);
    transform: translate(0px, 150px);
    float: inline-start;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;

}

.aboutSectionHomePageReadMoreCardHeading {
    font-size: 38px;
    font-weight: bolder;
    margin-bottom: 50px;
    display: block;
}

.aboutSectionHomePageReadMoreCardDesc {
    display: block;
    font-size: 18px;
    line-height: 25px;
}

.readMoreButton {
    display: block;
}

.aboutSectionHomePageReadMoreBgImage {
    background-image: url('../images/aboutSectionPhtooot.png');
    height: 700px;
    width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
    transform: translate(870px, 0px);
    position: absolute;
    z-index: 0;
    float: right;
}

@media only screen and (max-width: 1600px) {
    .aboutSectionHomePageReadMoreBgImage {
        transform: translate(750px, 0px);
    }
}



@media only screen and (max-width: 1500px) {
    .aboutSectionHomePageReadMoreBgImage{
        transform: translate(650px, 0px);
    }
}

@media only screen and (max-width: 1400px) {
    .aboutSectionHomePageReadMoreBgImage{
        transform: translate(500px, 0px);
    }

    .aboutSectionHomePageReadMoreCard {
        width: 50vw;        
    }
}
