.FooterContainer {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10vh;
    padding-bottom: 0px;
    height: 45vh;
    background-color: #161619;
    min-height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.footer__uperHalf {
    display: flex;
    justify-content: space-between;
}

.footerForm {
    display: flex;
}

.footerMenuItems {
    height: 15vh;
}

.footerMenuItems > ul > li {
    list-style: none;
}

.footer__ulMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footerInputText {
    width: 25vw;
    height: 40px;
    min-width: 120px;
}

.footerInputSubmit {
    min-width: 60px;
    height: 40px;
    width: 10vw;
    background-color: #161619;
    border: white 1px solid;
}

.footerSocialMediaIcons {
    align-self: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.footer__lowerHalf {
    display: flex;
    flex-direction: column;
}

.footerTermsAndCondition {
    align-self: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
    .footerInputSubmit {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .footer__uperHalf {
        flex-direction: column;
        align-self: center;
    }

    .footer__formDiv{
        margin-bottom: 20px;
    }

    .footer__ulMenu > li {
        align-self: center;
    }

    .FooterContainer {
        padding-top: 7vh;
    }
}