.listSearch {
    font-size: 18px;
    line-height: 40px;
    margin-top: 2px !important;
    background: rgb(22,22,25);
    width: 600px;
    padding-left: 20px;
    margin: auto;
    overflow: hidden;
}

.searchedListDetail{
    display: inline;
    color: whitesmoke;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

.listSearch:hover {
    background-color: rgb(39, 39, 39);
}


