.HomePagGetStartedContainer {
    margin-top: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    z-index: 99;
    margin-bottom: 100px;
}

.GetStartedImageDiv {
    min-width: fit-content;
    object-fit: contain;
    flex: 0.48;
    background-color: yellow;
    overflow: hidden;
}

.GetStartedTextDiv {
    height: 526px;
    padding: 100px 130px;
    background-color: #161619;
    float: right;
    flex: 0.52;
}

.GetStartedTextDivHeading {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    display: block;
}

.GetStartedTextDivDesc {
    display: block;
    color: white;
    font-size: 24px;
}

.GetStartedTextDivButton {
    display: block;
}

@media only screen and (max-width: 1350px) {

}
