.modalContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px;
    height: fit-content;
    width: 50vw;
    border: black solid 1px;
    background-color: whitesmoke;
    position: fixed;
    transform: translate(-18vw, 0px);
    border-radius: 5px;
    align-self: center;
}

.modale__form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modale__form > input{
    height: 40px;
    margin-bottom: 15px;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.modalCloseButton{
    font-size: 30px;
    cursor: pointer;
}

.modalCloseButton :hover {
    transform: scale(1.07);
    opacity: 0.8;
}

.modalButton {
    margin-top: 20px;
    color: black;
    font-weight: 600;
}

@media only screen and (max-width: 1210px){
    .modalContainer {
        transform: translate(0vw, -300px);
        width: 70vw;
    }
}

@media only screen and (max-width: 750px){
    .modalContainer {
        transform: translate(0vw, -200px);
        min-width: 70vw;
    }
}

@media only screen and (max-width: 550px){
    .modalContainer {
        width: 100vw;
    }
}