.navbarContainer{
    background-color: #161619;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.navBarMobileHandle {
    position: absolute;
    color: white;
    display: none;
    font-size: 26px !important;
    right: 20px;
    top: 8px;
}

.navbarLogo {
    margin-left: 50px;
}

.menuItemsDiv > ul {
    justify-content: flex-end;
    display: flex;

}

.menuItemsDiv > ul > li {
    margin-right: 50px;
    text-decoration: none;
    list-style: none;

}

@media only screen and (max-width: 800px) {

    .menuItems.active {
        left: 0px;
        transition: all 0.5s ease;
    }

    .menuItems {
        display: flex;
        flex-direction: column;
        top: 60px;
        left: -100%;
        position: absolute;
        background-color: #161619;
        text-align: center;
        width: 100%;
        z-index: 99;
        height: fit-content;
        padding-top: 30px;
        transition: all 0.5s ease;
    }

    .menuItems > li {
        margin-bottom: 30px;
    }

    .navBarMobileHandle {
        display: flex;
        z-index: 100;
    }


}


a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
  }

